/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

body {
	background-color: #fff;
	text-align: center;
}

#header {
	margin-top: 1em;
	margin-bottom: 1em;
}

#header a {
	text-decoration: none;
}

#banner {
	width: 800px; 
	height: 50px; 
	background-image: url(../images/banner-graphic.png);
}

#banner h1 {
	padding: 7px 0 0 10px !important;
	color: white;
	text-shadow: 1px 1px 1px #0064CD;
}

.submit input {
	margin-left: 5px;
}

.dijitFocused {
	outline: none;
}

#wrapper {
	width:800px;
	min-width: 800px;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	overflow:hidden;
	display:block;
}

/* header and footer elements */

#main {
	overflow:hidden;
	display:box;
}

#menu {
	background: #eee;
	position:relative;
	float:left;  	
	left:0px;
	width:220px;
	margin-right:15px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	padding: 0px;
}


#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #ffffff;
	background-color: #0064cd;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	border-radius: 5px;
}

#menu a {
	color: #0069d6;
	background: #EEE;
	text-decoration: none;
	padding: 2px 12px;
}

#menu a:hover {
	color: #00438a;
	background: #FFF;
}

#footer {
	margin: 7px 0 7px 0;
	border-top: 1px dotted #AAA;
}

#footer .new {
	float:left;
}

.dijitTitlePaneTitleFocus {
	outline: none;
}


.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}

table.navigation {
	border: 0px;
}

label {
	width:100px;
	padding-top: 4px !important;
	padding-right: 4px;
}


input.image {
	border: none;
	height: auto;
	vertical-align: middle;
}


div {
	text-align: left;
}

div .box {
	display:block;
	margin-left:105px;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
	
/* text styles */

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 105px;
}

tr:nth-child(odd) {
	background-color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
}


li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin:0 0 0.25em 0;
	padding:0;
}

.utilbox {width: 18px;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}


.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

.dijitArrowButton {
	height: 20px;
}

.dijitTextArea{
	min-height:5.5em !important;
	max-height:22em !important;
	overflow-y: auto !important;
	max-width: 175px;
}

.RichTextEditable{
	min-height:18em !important;
	max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}

/* Custom CSS */
.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.small-padding {
	padding: 5px;
}

.small-padding td{
	padding: 5px;
}